.footer__link {
	color: #fff;
	text-decoration: none;
	margin-right: 18px;
	font-size: 16px;
	line-height: 18px;
	transition: all 0.5s;
	cursor: pointer;
	display: inline-block;
}

.footer__link:hover {
	transform: scale(1.2);
	color: rgba(255, 255, 255, 0.8);
}
@media screen  and (max-width: 767px) {
	.footer__link {
		display: block;
		margin-bottom: 32px;
		font-size: 24px;
		line-height: 24px;
	}
	.footer__link:last-child {
		margin-bottom: 0;
	}
}
@media screen and (max-width: 425px) {
	.footer__link:last-child {
		margin-bottom: 48px;
	}
	.footer__link:hover {
		transform: scale(1.1) translateX(10px);
		color: rgba(255, 255, 255, 0.8);
	}
}
