.lead__title {
	max-width: 720px;
	margin: 0 auto;
	font-size: 96px;
	line-height: 100px;
	text-align: center;
	font-weight: 900;
	transform: translate(0px, -110%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.lead__title._active-amimation{
	transform: translate(0px, 0px);
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.lead__title {
		max-width: 400px;
		font-size: 55px;
		line-height: 60px;
	}
}

@media screen and (max-width: 425px) {
	.lead__title {
		max-width: 288px;
		font-size: 40px;
		line-height: 44px;
	}
}