.footer__copyright {
	font-size: 14px;
	line-height: 16px;
	align-self: center;
}

/*--------------media 425 - 768 px-------------*/
@media screen and (min-width: 425px) and (max-width: 767px) {

	.footer__copyright {
		width: 90px;
		line-height: 14px;
		align-self: end;
	}
}
@media screen and (max-width: 425px) {
	.footer__copyright {
		line-height: 14px;
	}
}