/*--------------media 425px-------------*/
@media screen and (max-width: 425px) {
	.header{
		margin: 16px 4vw 9vw;
		height: 42px;
	}
	.header__lang-link{
		font-size: 18px;
		line-height: 20px;
		margin-left: 12px;
	}
	.lead__title {
		max-width: 288px;
		font-size: 40px;
		line-height: 44px;
	}
	.lead__subtitle {
		max-width: 288px;
		margin: 16px auto 8vw;
		font-size: 16px;
		line-height: 20px;
	}
	.lead__caption {
		margin: 0 4vw;
		font-size: 10px;
		line-height: 14px;
	}
	.intro {
		margin: 64px 4vw 0;
	}
	.intro__title {
		font-size: 32px;
		line-height: 35px;
	}
	.intro__text {
		margin: 40px 0 34px 0;
	}
	.intro__list {
		font-style: normal;
		font-weight: 700;
	}
	.intro__span{
		font-weight: 400;
	}
	.photo-grid {
		max-width: 288px;
		margin: 64px auto 0;
		gap: 12px;
	}
	.places {
		margin: 64px 0 64px;
	}
	.place {
		display: block;
		margin-bottom: 50px;
	}
	.place__title {
		font-size: 32px;
		line-height: 35px;
		margin: 0 4vw 32px;
	}
	.place__image {
		max-width: 100%;
		margin-bottom: 32px;
	}
	.place__website {
		margin: 0 4vw 32px;
	}
	.place__paragraphs{
		margin: 0 4vw;
	}
	.place__paragraph:nth-child(odd) {
		margin-bottom: 25px;
	}
	.cover__title {
		max-width: 288px;
		font-size: 32px;
		line-height: 35px;
		margin-bottom: 16px;
	}
	.cover__subtitle {
		max-width: 288px;
		font-size: 14px;
		line-height: 16px;
	}
	.footer {
		display: block;
		margin: 64px 4vw 24px;
	}
	.footer__link {
		display: block;
		margin-bottom: 32px;
		font-size: 24px;
		line-height: 24px;
	}
	.footer__copyright {
		line-height: 14px;
	}
}