/*--------------media 1024 - 1280 px-------------*/
@media screen and (max-width: 1279px) {
	.header{
		max-width: 928px;
		margin: 28px auto 48px;
	}
	.lead {
		max-width: 928px;
	}
	.intro {
		max-width: 928px;
	}
	.intro__list {
		font-style: normal;
		font-weight: 700;
	}
	.intro__span{
		font-weight: 400;
	}
	.photo-grid {
		width: 928px;
	}
	.places {
		max-width: 928px;
	}
	.place__title {
		width: 440px;
		margin: 0 32px 48px 0;
	}
	.place__image {
		max-width: 440px;
		margin-right: 32px;
	}
	.place__website {
		max-width: 456px;
	}
	.place__paragraphs{
		max-width: 456px;
	}
	.place__paragraph:nth-child(odd) {
		margin-bottom: 27px;
	}
	.cover {
		max-width: 100vw;
 }
	.footer {
		max-width: 928px;
	}
}