/*--------------media 768 - 1024 px-------------*/
@media screen and (max-width: 1023px) {
	.header{
		max-width: 720px;
		margin: 28px auto 48px;
	}
	.lead {
		max-width: 1024px;
	}
	.lead__caption {
		max-width: 720px;
		margin: 0 auto;
	}
	.intro {
		max-width: 720px;
		margin: 77px auto 0;
	}
	.intro__list {
		font-style: normal;
		font-weight: 700;
	}
	.intro__span{
		font-weight: 400;
	}
	.photo-grid {
		max-width: 720px;
		margin-top: 88px;
	}
	.places {
		max-width: 720px;
		margin: 88px auto 90px;
	}
	.place__title {
		width: 340px;
		margin: 0 28px 48px 0;
		font-size: 42px;
		line-height: 46px;
	}
	.place__image {
		max-width: 340px;
		margin-right: 28px;
	}
	.place__website {
		max-width: 352px;
	}
	.place__paragraphs{
		max-width: 352px;
	}
	.place__paragraph {
		font-size: 16px;
		line-height: 26.08px;
	}
	.place__paragraph:nth-child(odd) {
		margin-bottom: 25px;
	}
	.footer {
		max-width: 720px;
		margin: 88px auto 24px;
	}
}