.lead__subtitle {
	max-width: 640px;
	margin: 32px auto 64px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	text-align: center;
	transform: translate(0px, -110%);
	opacity: 0;
	transition: all 0.8s ease 0.5s;
}

.lead__subtitle._active-amimation{
	transform: translate(0px, 0px);
	opacity: 1;
}

@media screen and (max-width: 1024px) {
	.lead__subtitle {
		margin: 32px auto 56px;
}
}

@media screen and (max-width: 767px) {
	.lead__subtitle {
		max-width: 400px;
		font-size: 20px;
		line-height: 25px;
	}
}

@media screen and (max-width: 425px) {
	.lead__subtitle {
		max-width: 288px;
		margin: 16px auto 40px;
		font-size: 16px;
		line-height: 20px;
	}
}
