.cover__title {
	max-width: 560px;
	font-size: 72px;
	line-height: 76px;
	text-align: center;
	margin-bottom: 32px;
	font-weight: 900;
}

/*--------------media 425 - 768 px-------------*/
@media screen and (min-width: 425px) and (max-width: 767px) {
	.cover__title {
		max-width: 320px;
		font-size: 42px;
		line-height: 43px;
		margin-bottom: 16px;
	}
}
/*--------------media 425px-------------*/
@media screen and (max-width: 425px) {
	.cover__title {
		max-width: 288px;
		font-size: 32px;
		line-height: 35px;
		margin-bottom: 16px;
	}
}